[Unit]
Description=check socks4 proxy service.
Wants=network-online.target 
After=network-online.target

[Service]
Type=simple
ExecStart= /usr/bin/bash /root/MyScripts/Python/checkSocks4Proxy/startShell.sh > /dev/null
Restart=on-failure
RestartSec=30 
User=root
Group=root

[Install] 
WantedBy=multi-user.target
